* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
  padding: 0;
  margin: 0; }

#wrappy {
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
  padding: 0; }

#container {
  width: 100%;
  padding: 0;
  margin: 0 auto; }

.cell {
  background: #FFF;
  width: 500px;
  margin-bottom: 10px;
  page-break-inside: avoid; }
  .cell.head {
    padding: 8px; }
    .cell.head .inner h1 {
      text-align: center;
      color: #67B; }
    .cell.head .inner input {
      width: 452px;
      height: 2.2em;
      line-height: 2em;
      font-size: 1.0em;
      border-radius: 0.2em;
      border: 2px solid #67B;
      padding: 6px; }
    .cell.head .inner a {
      position: relative;
      top: 8px;
      left: 6px; }
      .cell.head .inner a img {
        width: 26px; }
  .cell .work {
    width: 100%;
    padding: 6px; }
    .cell .work span {
      display: inline-block;
      padding: 6px;
      color: #67B;
      background: transparent;
      font-weight: bold;
      text-align: center;
      margin: 0;
      border-radius: 0.2em;
      width: 100%;
      font-size: 2em; }
  .cell .content .profile {
    border-spacing: 8px;
    margin: 0;
    padding: 0;
    padding: 6px;
    margin-bottom: 16px;
    width: 100%; }
    .cell .content .profile th {
      padding: 0;
      margin: 0;
      text-align: right;
      vertical-align: top;
      min-width: 120px;
      color: #555; }
    .cell .content .profile td {
      vertical-align: top;
      color: #555;
      /*max-width: 400px;*/ }
  .cell a {
    color: #444f7c;
    text-decoration: none; }
    .cell a:hover {
      text-decoration: underline; }

.grid-sizer {
  width: 500px; }
