---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
    {{ page.date | date: "%B %-d, %Y" }}
    {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>
  <section class="post-content">{{ content }}</section>
</article>

<div class="pagination">
  {% if page.previous %}
    <a class="pagination_older" rel="prev" href="{{ page.previous.url }}"><span class="fa fa-long-arrow-left"></span> Previous Post</a>
  {% else %}
    <span class="pagination_older">No Older Posts</span>
  {% endif %}
  &mdash;
  {% if page.next %}
    <a class="pagination_newer" rel="next" href="{{ page.next.url }}">Next Post <span class="fa fa-long-arrow-right"></span></a>
  {% else %}
    <span class="pagination_newer">No Newer Posts</span>
  {% endif %}
</div>

<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
